In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

# تحميل البيانات
df = pd.read_excel('data_all.xlsx')

# تنظيف البيانات (Data Cleaning)
# معالجة التواريخ والقيم الرقمية
df['activity_date'] = pd.to_datetime(df['activity_date'])
df['opportunity_stage'] = df['opportunity_stage'].fillna('no_opp')
df['is_lead'] = df['is_lead'].fillna(0)

# نقوم بحذف أي صف فيه القيمة فارغة في types 
df = df.dropna(subset=['types']) 
# تحديد الهدف (target)
# الفوز 1 & الخسارة أو عدم وجود فرصة 0
df['target'] = df['opportunity_stage'].apply(lambda x: 1 if 'WON' in str(x).upper() else 0)

print(f" تم تحميل وتنظيف البيانات بنجاح. عدد الصفوف المتبقية {len(df)}")
df.head()

 تم تحميل وتنظيف البيانات بنجاح. عدد الصفوف المتبقية 259901

,account_id,SourceSystem,activity_date,who_id,opportunity_id,opportunity_stage,is_lead,types,Country,solution,target
0,0010L00001hVmFhQAK,SFDC_US,2022-07-25,0030L00001vlbHLQAY,NaN,no_opp,1.0,Follow Up,US,MRS,0
1,0010L00001hVmFhQAK,SFDC_US,2023-02-08,0034X00002xZlQtQAK,NaN,no_opp,1.0,Inbound Call,US,MRS,0
2,0010L00001hVmFhQAK,SFDC_US,2023-02-14,0030L00001vlbHLQAY,NaN,no_opp,1.0,Inbound Call,US,MRS,0
3,0010L00001hVmFhQAK,SFDC_US,2023-02-20,0030L00001vlbHLQAY,NaN,no_opp,2.0,Inbound Call,US,MRS,0
4,0010L00001hVmFhQAK,SFDC_US,2023-03-16,0034X00003GOUrFQAX,NaN,no_opp,1.0,Inbound Call,US,MRS,0